

 /* ========= payment button for pay =========*/

 .pay{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/books_law.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .pay-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  padding: 10px 10px;
  background: transparent;
  /* margin: left ; */
  margin-left: 500px;
  margin-top: 270px;
  position: absolute;
  width: 320px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 25px;
  }
  
  .pay-btn:hover{
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
  }